{% extends 'blog/base.html' %}

{% block content %}
    <div class="content-section">
    <div class="media">
    <img class="rounded-circle account-img" src="{{ requser.profile.image.url }}" >
    <div class="media-body">
      <h2 class="account-heading">{{ requser.username }}</h2>
      <p class="text-secondary">{{ requser.email }}</p>
    </div>
    </div>
    </div>
    <h1>All Posts by {{ requser.username }}</h1>
    {% for post in requserposts %}
        <p><a href="{% url 'post_full' pk=post.pk %}">{{ post.title }}</a></p>
    {% endfor %}
{% endblock content %}
